<div>
<!-- adming details -->
<div class="profile" >
<img  src="https://www.pngfind.com/pngs/m/643-6438921_admin-comments-admin-icon-png-transparent-png.png" alt="">
<h3>Admin</h3>
<h4>admin@luminar.com</h4>
</div>
<mat-divider></mat-divider> 
<h2>Pages</h2>
<div class="pages" >
   
        <a href="dashboard">Dashboard</a>
        <a href="employe">Employee</a>
        <a href="gallery">Gallery</a>
    
    
    
    </div>
<!-- tools -->
<mat-divider></mat-divider> 
<h2>Tools</h2>
<div class="tools" >
    <a href="contact"><mat-icon>contact_phone</mat-icon>Contacts</a>
    <a href="lead"><mat-icon>leaderboard</mat-icon>Leads</a>
    </div>
</div>
