<!-- cards -->
<div class="cards" >
    <!-- cars1 -->
    <mat-card>
        <app-card
        bg="orange"
        icon="person"
        description="students"
        count="2000"
        ></app-card>
      </mat-card>
   
    <!-- cars2 -->
    <mat-card>
        <app-card
        bg="green"
        icon="home"
        description="institutions"
        count="250"
        ></app-card>
      </mat-card>
    
    <!-- cars3 -->
    <mat-card>
        <app-card
        bg="yellow"
        icon="groups"
        description="employees"
        count="3000"
        ></app-card>
      </mat-card>
  
    <!-- cars4 -->
    <mat-card>
        <app-card 
        bg="blue"
        icon="dashboard"
        description="placements"
        count="9000"
        ></app-card>
      </mat-card>
    
</div>

<!-- chart -->
<div class="chart" >
    <app-chart></app-chart>
</div>
<!-- table -->
<div class="tablepie" >
    <div>
        <app-table></app-table>
    </div>
    <!-- piechart -->
    <div>
        <app-piechart></app-piechart>
    </div>
</div>
